language: python
python:
  - "3.5"
  - "3.6"
  - "3.6-dev" # 3.6 development branch
# command to install dependencies
install: 
    - "export CXX=g++-6"
    - "pip install -r requirements.txt"
    - "python setup.py install"
# command to run tests
script: pytest
